body{
  background: #a31d1c;
}

header{
  height: 100px;
  background: #FAF0E6;
}

nav{
  height:35px;
  background:brown;
}
section{
  height: 550px;
  background: chartreuse;
}
footer{
  height: 70px;
  background: #3A020D;
}

header, footer{
  background: #C03000;
}

nav{
  height: 35px;
  background: #4BB5C1;
}

section{
  height: 550px;
  background:red;
}

footer{
  height: 70px;
  background: Tomato;
}

footer{
  height:70px;
  background: PeachPuff;
}

header, footer{
  background: #96CA2D;
}

footer{
  height: 70px;
  background: #8E3557;
}

header, footer{
  color: black;
  background: #f5deb3;
}
header{
  height: 100px;
  background: #00FF7F;
}
nav{
  height: 35px;
  background: brown;
}
section{
  height: 550px;
  background: chartreuse;
}
footer{
  height: 70px;
  background: #00ff7f;
}
header, footer{
  color: darkgreen;
}
