body{
  background: #a31d1c;
}

header{
  height: 100px;
  background: #FAF0E6;
}

nav{
  heght:35px;
  background:brown;
}
section{
  height: 550px;
  background: chartreuse;
}
footer{
  height: 70px;
  background: #3A020D;
}

header, footer{
  color: darkgreen;
}
